{ 
    "importOrder": ["^components/(.*)$", "^[./]" ],
    "importOrderSeparation": true, 
    "importOrderSortSpecifiers": true ,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5"
}